
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: pink;
    color: black;
    scroll-behavior: smooth;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 120px auto;
    background: PINK;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

.login-container h2 {
    color: #fff;
    margin-bottom: 20px;
}

.login-container input {
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: none;
    width: 100%;
    font-size: 16px;
}

.login-container button {
    background: palevioletred;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}


header {
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: palevioletred;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.nav {
    display: flex;
    gap: 25px;
}

.nav a {
    text-decoration: none;
    color: black ;
}

.nav a:hover,
.nav a.active {
    color: #fff;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.home-content h1 {
    font-size: 55px;
}

.subtitle span {
    color: palevioletred;
}

.quote {
    margin: 15px 0;
}

.btn {
    padding: 12px 30px;
    background: pink;
    border-radius: 25px;
    text-decoration: none;
    color: palevioletred;
}

.home-img img {
    width: 330px;
    border-radius: 18px;
    border: 4px solid black;
}

.about {
    padding: 90px 8%;
}

.section-title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-img {
    width: 320px;
    border-radius: 18px;
    border: 4px solid black;
}

.about-text p {
    margin-bottom: 15px;
}


.services {
    padding: 90px 8%;
}

.service-boxes {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.service-box {
    background: palevioletred;
    padding: 25px;
    width: 280px;
    text-align: center;
    border-radius: 12px;
}

.service-box i {
    font-size: 45px;
    color: black;
    margin-bottom: 10px;
}


.portfolio {
    padding: 90px 8%;
}

.portfolio-gallery {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.portfolio-item {
    text-align: center;
}

.portfolio-item img {
    width: 30px;
    border-radius: 12px;

}
